In [2]:
import pandas as pd
import numpy as np
import datetime

In [3]:
attendance = pd.read_csv(r'attendance_2.csv')

In [3]:
attendance.head()

      team  team_name  year   total    home    away  week  weekly_attendance
0  Arizona  Cardinals  2000  893926  387475  506451     1            77434.0
1  Arizona  Cardinals  2000  893926  387475  506451     2            66009.0
2  Arizona  Cardinals  2000  893926  387475  506451     3                NaN
3  Arizona  Cardinals  2000  893926  387475  506451     4            71801.0
4  Arizona  Cardinals  2000  893926  387475  506451     5            66985.0

In [4]:
attendance['Team'] = attendance['team'] +' ' + attendance['team_name']

In [5]:
attend_drop = ['team', 'team_name', 'total', 'home', 'away']

In [6]:
attendance = attendance.drop(attend_drop, axis = 1)

In [7]:
attendance = attendance.rename(columns = {'year': 'Year', 'week':'Week'})

In [8]:
avg_attend = attendance.dropna()
average_attend = avg_attend['weekly_attendance'].mean(axis = 0)
print(average_attend)

67582.63539030563

In [9]:
attendance.fillna(value = average_attend, inplace = True)

In [10]:
attendance = attendance[attendance['Year'] >= 2014]
attendance = attendance[attendance['Year'] <= 2016]

In [11]:
attendance.isnull().sum()

Year                 0
Week                 0
weekly_attendance    0
Team                 0
dtype: int64

In [12]:
attendance

       Year  Week  weekly_attendance                  Team
7582   2014     1        61292.00000     Arizona Cardinals
7583   2014     2        78344.00000     Arizona Cardinals
7584   2014     3        61572.00000     Arizona Cardinals
7585   2014     4        67582.63539     Arizona Cardinals
7586   2014     5        76895.00000     Arizona Cardinals
...     ...   ...                ...                   ...
10907  2016    20        66829.00000  New England Patriots
10908  2016    20        71127.00000     Green Bay Packers
10909  2016    20        66829.00000   Pittsburgh Steelers
10910  2016    22        70807.00000  New England Patriots
10911  2016    22        70807.00000       Atlanta Falcons

[1698 rows x 4 columns]

In [13]:
attendance = attendance.rename(columns = {'weekly_attendance':'Attendance'})

In [14]:
attendance.to_csv('attendance_cleaned.csv')