In [1]:
import pandas as pd
import numpy as np

In [2]:
qbr = pd.read_csv(r'QBR_index.csv')

In [3]:
teams = pd.read_csv(r'team_key.csv')

In [4]:
qbr.head()

,RK,NAME,WEEK,RESULT,QBR,PAA,PLAYS,EPA,PASS,RUN,SACK,PEN,RAW,YEAR
0,1.0,Colin KaepernickSF,1,W28-17at DAL,95.3,6.2,29,4.7,4.2,0.0,-0.3,0.2,95.3,2014
1,2.0,Matthew StaffordDET,1,W35-14vs. NYG,93.1,7.5,38,9.1,7.6,1.2,-0.3,-0.1,94.2,2014
2,3.0,Peyton ManningDEN,1,W31-24vs. IND,90.0,4.7,40,6.8,6.4,0.0,-0.3,0.1,84.1,2014
3,4.0,Russell WilsonSEA,1,W36-16vs. GB,85.2,4.4,35,6.4,5.0,0.8,-0.2,0.4,85.7,2014
4,5.0,Matt RyanATL,1,W37-34vs. NO,85.1,7.9,50,12.3,10.9,0.7,-0.3,0.4,90.2,2014

In [5]:
col_drop = ['RESULT', 'PAA', 'PLAYS', 'EPA', 'PASS', 'RUN', 'SACK', 'PEN', 'RAW', 'RK']

In [6]:
qbr = qbr.drop(col_drop, axis = 1)

In [7]:
qbr = qbr.rename(columns = {'NAME':'Name', 'WEEK':'Week', 'YEAR':'Year'})

In [8]:
team_list = list(teams['Opponent'])
team_string = ""
for team in team_list:
    team_string += team
print(team_string)

TBCARARIHOUMIAGBTENBUFCLENOSEADETATLNYJOAKNYGDALBALPHICINWASSTLINDNESDJACMINSFPITCHIKCDENJAXLA

In [9]:
qbr['Name'] = qbr['Name'].str.rstrip(team_string)

In [10]:
names = qbr['Name'].astype(str)
names_ = []
name_in = names.index[0:]
for name in names: 
    space = name.find(' ')
    first_name = name[:space]
    last_name = name[space + 1:]
    full_name = last_name + ',' + ' ' + first_name
    names_.append(full_name)

In [11]:
qbr['Name'] = names_
qbr

                   Name  Week   QBR  Year
0     Kaepernick, Colin     1  95.3  2014
1     Stafford, Matthew     1  93.1  2014
2       Manning, Peyton     1  90.0  2014
3       Wilson, Russell     1  85.2  2014
4            Ryan, Matt     1  85.1  2014
...                 ...   ...   ...   ...
1593         Ryan, Matt    20  97.2  2016
1594         Brady, Tom    20  89.6  2016
1595     Rodgers, Aaron    20  86.1  2016
1596         Ryan, Matt    22  81.0  2016
1597         Brady, Tom    22  75.8  2016

[1598 rows x 4 columns]

In [12]:
print(type(qbr['Year'][1]))

<class 'numpy.int64'>

In [13]:
qbr.isnull().any()

Name    False
Week    False
QBR     False
Year    False
dtype: bool

In [14]:
qbr.to_csv('qbr_clean.csv')