In [1]:
import pandas as pd
import numpy as np

In [3]:
salary = pd.read_csv(r'2014-thru-2020-cap-tables.csv')

In [30]:
salary.head()

             name  pos   cap_hit  cap_percent  season               team
0  Russell Wilson   QB  31000000        15.53    2020   seattle-seahawks
1   Aaron Rodgers   QB  29672000        15.06    2019  green-bay-packers
2    Kirk Cousins   QB  29000000        15.12    2019  minnesota-vikings
3      Jared Goff   QB  28842682        14.15    2020   los-angeles-rams
4     Khalil Mack  OLB  26600000        12.52    2020      chicago-bears

In [31]:
teams_ = salary['team'].astype(str)

In [32]:
team_index = teams_.index[0:]
teams = []
for team in team_index: 
    hyphen = teams_[team].find('-')
    first = teams_[team][:hyphen]
    #print(teams_[team].find('-', hyphen+1))
    if teams_[team].find('-', hyphen + 1) == -1:
        second = teams_[team][hyphen+1:]
        new_team = first.capitalize() + ' ' + second.capitalize()
    else:
        hyphen_2 = teams_[team].find('-', hyphen + 1) 
        second = teams_[team][hyphen+1:hyphen_2]
        last = teams_[team][hyphen_2+1:]
        new_team = first.capitalize() + ' ' + second.capitalize() + ' ' + last.capitalize() 
    teams.append(new_team)

In [33]:
salary['team'] = teams

In [34]:
salary = salary.rename(columns = {'team': 'Team', 'season':'Year', 'name':'Name', 'cap_hit':'Salary', 'cap_percent':'Cap Percentage'})

In [36]:
salary = salary.drop('pos', axis = 1)

In [37]:
names = salary['Name'].astype(str)
names_ = []
name_in = names.index[0:]
for name in names: 
    space = name.find(' ')
    first_name = name[:space]
    last_name = name[space + 1:]
    full_name = last_name + ',' + ' ' + first_name
    names_.append(full_name)

In [38]:
salary['Name'] = names_
salary

                  Name    Salary  Cap Percentage  Year                  Team
0      Wilson, Russell  31000000           15.53  2020      Seattle Seahawks
1       Rodgers, Aaron  29672000           15.06  2019     Green Bay Packers
2        Cousins, Kirk  29000000           15.12  2019     Minnesota Vikings
3          Goff, Jared  28842682           14.15  2020      Los Angeles Rams
4         Mack, Khalil  26600000           12.52  2020         Chicago Bears
...                ...       ...             ...   ...                   ...
12129  Sherels, Marcus         0            0.00  2019        Miami Dolphins
12130  Bucannon, Deone         0            0.00  2020  Tampa Bay Buccaneers
12131    Watford, Earl         0            0.00  2020  Tampa Bay Buccaneers
12132   Walker, Tyrunn         0            0.00  2018    New Orleans Saints
12133        Tate, Ben         0            0.00  2014   Pittsburgh Steelers

[12134 rows x 5 columns]

In [39]:
salary = salary[salary['Year'] >= 2014]
salary = salary[salary['Year'] <= 2016]

In [40]:
salary.isnull().sum()

Name              0
Salary            0
Cap Percentage    0
Year              0
Team              0
dtype: int64

In [41]:
salary

In [42]:
salary.to_csv('salary_clean.csv')